/* @import url('http://fonts.cdnfonts.com/css/cooper-hewitt'); */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #cccccc; /* cor número */
  font-weight: 706;

}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../img/econo23paisagem.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.countdown {
  list-style: none;
  margin: 70px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul.countdown li { 
  display: inline-block; 
}

ul.countdown li span {
  font-size: 125px;
  font-weight: 712;
  line-height: 80px;
  padding: 0px 55px;
  border-top: 3px solid rgb(90,3,11);
  border-bottom: 3px solid  rgb(90,3,11);
  margin-left: -4px;
}

ul.countdown li p {
  color: #ffffff; /*cor dia/horas/minutos/segundos*/
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 25px;
}

.days {
  background-color: rgb(90,3,11);
  padding: 0 10px;
  color: rgb(fff);
}
.last { border-right: 3px solid rgb(90,3,11); }

.titulo {
  color: #fff;
  font-size: 70px;
  font-weight: 706;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 910px) {
  ul.countdown {
    margin: 55px 0px;
  }

  ul.countdown li span {
    font-size: 90px;
  }

  ul.countdown li p {
    font-size: 45px;
    margin-top: 20px;
  }

  .titulo {
    font-size: 60px;
  }
}

@media (max-width: 855px) {
  ul.countdown {
    margin: 35px 0px;
  }

  ul.countdown li span {
    font-size: 60px;
  }

  ul.countdown li p {
    font-size: 30px;
    margin-top: 5px;
  }

  .titulo {
    font-size: 40px;
  }
}

@media (max-width: 670px) {
  .container {
    background-image: url('../img/econo23retrato.jpeg');
  }

  ul.countdown {
    margin: 20px 0px;
  }

  ul.countdown li span {
    font-size: 45px;
    padding: 0px 40px;
  }

  ul.countdown li p {
    font-size: 25px;
    margin-top: 0px;
  }

  .titulo {
    font-size: 35px;
  }
}

@media (max-width: 470px) {
  .container {
    background-image: url('../img/econo23retrato.jpeg');
  }

  ul.countdown {
    margin: 15px 0px;
    border: 3px solid rgb(90,3,11);
  }

  ul.countdown li { display: block }

  ul.countdown li span {
    line-height: normal;
    font-size: 60px;
    border-top: 0px solid rgb(90,3,11);
    border-bottom: 0px solid  rgb(90,3,11);
    border-left: 0px solid rgb(90,3,11);
    border-right: 0px solid  rgb(90,3,11);
  }

  li:nth-child(1){
    background-color: rgb(90,3,11);
  }

  ul.countdown li p {
    font-size: 25px;
    margin-top: 0px;
  }

  .titulo {
    font-size: 30px;
  }
}


.bodyVideo {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; /* Ensure the video covers the entire background */
}