/* @import url('http://fonts.cdnfonts.com/css/cooper-hewitt'); */

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body, html {
  /* font: normal 14px 'Oswald', sans-serif; */
  /* font-weight: 706; */
  background-color: #111111;
  height: 100%;
}

.countdown {
  border-width: 1px;
  border-style: solid;
  border-color: orange;

  font: normal 14px 'Oswald', sans-serif;
  font-weight: 706;

  width: 80vw;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  margin-top: 0px;
  color: #cccccc; /*cor numero*/
}

.box {
  display: inline-block;
}

.countdown div { 
  display: inline-block; 
}

div.countdown div span {
  font-size: 125px;
  font-weight: 712;
  /* line-height: 80px; */
  padding: 0px 55px;
  border-top: 3px solid rgb(90,3,11);
  border-bottom: 3px solid  rgb(90,3,11);
  margin-left: -4px;
}

/* div.countdown div p {
  color: #ffffff; cor dia/horas/minutos/segundos
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 25px;
} */

.days {
  background-color: rgb(0, 0, 0);
  padding: 0 10px;
  color: rgb(fff);
}
.last { border-right: 3px solid rgb(90,3,11); }

/* .last { border-right: 3px solid rgb(90,3,11); } */

/* .titulo {
  color: #fff;
  font-size: 70px;
  font-weight: 706;
  margin-top: -15px;
} */

#video {
  /* background-color: rgb(236,35,53); */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.body {
  background-color: rgb(236,35,53);
}